# Important Requirements here.

https://github.com/New-dev0/Telethon/archive/diamond.zip
python-decouple
python-dotenv
TgCrypto
pyrogram==1.4.16
py-tgcalls==0.9.1
requests
aiohttp
aiofiles
pillow
asyncio
wget
python-arq
youtube-search-python==1.4.6
yt-dlp
gTTS
googletrans==4.0.0rc1
